# Environment
.env
.venv/
venv/

# Node.js
node_modules/

# Vue build files
dist/

# Java / Maven
target/
*.class

# Playwright
playwright-report/
test-results/

# IDE
.vscode/

# Operating System
.DS_Store
Thumbs.db
